:root{
     --primary: #001BB7;
    --secondary: #0046FF;
    --accent: #FF6600;
     --secondaryAccent: #E65C00;
    --text-light: #6b7280;
    --bg-light: #E9E9E9;
    --white-bg: white;
}


.student-dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
 background: linear-gradient(135deg, var(--bg-light) 0%, white 100%);
  color: white;
  margin-bottom: 0;
}

