:root{
     --primary: #007BFF;
    --secondary: #0055CC;
    --accent: #FF6600;
     --secondaryAccent: #E65C00;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --bg-light: #f9fafb;
}



.magic-button {
  display: inline-block;
  padding: 5px 18px;
  border-radius: 10px;
  background: linear-gradient(135deg, #007BFF,#0055CC);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 8px 20px #FF6600;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.magic-button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 20%, transparent 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
  border-radius: 50%;
  z-index: 0;
}

.magic-button:hover::before {
  transform: scale(1);
}

.magic-button:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px #FF6600;
}







/* code btn */


.code-button {
  display: inline-block;
  padding: 5px 18px;
  border-radius: 10px;
  background: linear-gradient(135deg, #FF6600,#0055CC);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  box-shadow: 0 8px 20px #FF6600;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}
